@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
/* Variables para los colores */
:root{
    --clr-blue:#3483fa;
    --clr-green:#00a650;
    --clr-grey-fondo:#ededed;
    --clr-yellow:#fff159;
}
/* Seteamos algunos estilos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree';
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background-color: var(--clr-grey-fondo);
    position: relative;
}
/* ************************************ */
/* H E A D E R  *********************** */
/* ************************************ */
.container-header{
    background-color: var(--clr-yellow);
    padding: 10px;
}
.container-header .header{
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 162px minmax(340px, 580px) minmax(350px, 390px);
    grid-column-gap:24px;
    grid-row-gap:12px;
}
.container-header  .container-search{
    background-color: #fff;
    position: relative;
    color:#666;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
}
.container-header .logo{
    width: 134px;
}
.container-header input{
    display: block;
    border: none;
    padding: 10px 60px 10px 15px;
    width: 100%;
    height: 43px;
}
.container-header .icono-busqueda{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    height: 40px;
    width: 40px;
    line-height: 40px;
}
.container-header .container-publicidad{
    text-align:right;
}
.container-header .container-publicidad img{
    width: 340px;
}
.container-header .container-ubicacion a{
    position: relative;
    display: flex;
    flex-direction: column;
}
.container-header .container-ubicacion span{
    margin-left: 20px;
}
.container-header .container-ubicacion i{
   position: absolute;
   height: 40px;
   line-height: 40px;
   color: #333;
   font-size: 18px;
}
.container-header .txt-enviar {
    font-size: 12px;
    color: #333;
    padding-top: 5px;
}
.container-header .txt-lugar {
    font-size: 12px;
    color: #333;
    font-size: 14px;
}
.container-header  .nav-menu{
    display: flex;
    align-items:end;
}
.container-header .boton-categoria{
    background-color: transparent;
    border: none;
    display: block;
    margin-right: 15px;
    font-size: 14px;
    color: #666;
    cursor: pointer;
}
.container-header .info-user{
    display: flex;
    align-items: end;
    justify-content: end;
}
.container-header .info-user a{
    margin-left: 15px;
    font-size: 14px;
    color: #333;
    position: relative;
}
.container-header .icono-carrito{
    font-size: 26px;
    margin-left: 20px;
}
.container-header .num-en-carrito{
    position: absolute;
    font-size: 12px;
    right: 7px;
    top: 7px;
    font-weight: bold;

}
/* ************************************ */
/* P R O D U C T O S  ***************** */
/* ************************************ */
main{
    max-width: 1200px;
    margin: auto;
    background-color: var(--clr-grey-fondo);
}
main .titulo-seccion{
    padding: 10px 0;
}
main .contenedor-productos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    padding-bottom: 20px;
}
main .producto{
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}
main .producto:hover{
    box-shadow: 0 7px 7px 0 rgba(0,0,0,.3);
}
main .producto .producto-imagen{
    display: block;
    margin: auto;
    width: 100%;
}
main .producto .producto-detalles{
    border-top: 1px solid #ccc;
    padding: 15px;
}
main .producto .producto-detalles .producto-titulo{
    font-size: 16px;
    font-weight: normal;
}
main .producto .producto-detalles .producto-precio{
    font-size: 20px;
    padding: 15px 0;
    font-weight: bold;
}
main .producto .producto-detalles .descuento{
   color: var(--clr-green);
   font-size: 14px;
   font-weight: normal;
}
main .producto .producto-detalles .producto-tipo-envio{
    font-weight: bold;
    color: var(--clr-green);
    font-size: 14px;
}

/* ************************************ */
/* P R O D U C T O   V I S I T A D O  ***************** */
/* ************************************ */

/* oculto momentaneamente los prductos para dar estilo */
.visible-grid{
    display: grid;
}
.no-visible{
    display: none;
}
.contenedor-productos{
    /* display: none !important; */
}
.contenedor-producto-visitado{
    display: none;
    position: fixed;
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8));
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.producto-visitado{
    background-color: #fff;
    display: grid;
    grid-template-columns:  minmax(200px, 480px) minmax(200px, 340px) minmax(200px, 300px);
    gap:24px;
    color: #333;
    position: absolute;
    /* display: none; */
    padding: 40px 30px 30px 30px;
}
.producto-visitado .cerrar{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
}
.producto-visitado .fotos-galeria{
    display: grid;
    grid-template-columns: 60px auto;
}
.producto-visitado .fotos-galeria .miniaturas{
    width: 60px;
}
.producto-visitado .fotos-galeria .miniaturas img{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}
.producto-visitado .fotos-galeria .foto-principal{
    display: block;
    margin: auto;
}
.producto-visitado .fotos-galeria img{
    width: 100%;
}
.producto-visitado .titulo-producto{
    font-size: 22px;
    margin-bottom: 20px;
}
.producto-visitado .precio-producto{
    font-size: 36px;
    line-height: 36px;
    display: flex;
    margin-bottom: 20px;
}
.producto-visitado .descuento{
    color: var(--clr-green);
    font-size: 18px;
    font-weight: normal;
    margin-left: 10px;
}
.producto-visitado .txt{
    font-size: 14px;
    font-weight: bold;
}
.producto-visitado ul{
    list-style:disc;
    font-size: 14px;
}
.producto-visitado ul li{
    margin-top: 10px;
}
.producto-visitado .info-compra{
    border: 1px solid #ccc;
    border-radius:10px;
    padding: 20px;
}

.producto-visitado .info-compra .info-stock{
    font-size: 16px;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.producto-visitado .info-compra .cantidad{
    margin-bottom: 20px;
    display: block;
}
.producto-visitado .info-compra .stock{
    font-size: 14px;
    color: #0000008c;
}
.producto-visitado .info-compra .btn-agregar-al-carrito{
    display: block;
    background-color: var(--clr-blue);
    width:100%;
    padding: 12px 0;
    color: #fff;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: .4s;
}
.producto-visitado .info-compra .btn-agregar-al-carrito:hover{
    background-color: #2968c8;
}
.producto-visitado .info-compra .vendedor{
    display: block;
    margin-bottom: 20px;
}
.producto-visitado .info-compra .vendedor a{
    color: var(--clr-blue);
}
.producto-visitado .info-compra .beneficio{
    margin-bottom: 20px;
    display: flex;
    font-size: 14px;
    color:#666
}
.producto-visitado .info-compra .beneficio a{
    color: var(--clr-blue);
}
.producto-visitado .info-compra .beneficio i{
    margin-right: 10px;
}

/* ************************************ */
/* C A R R I T O  ***************** */
/* ************************************ */
.carrito-vacio{
    text-align: center;
    padding: 30px 0;
    background-color: #f5f5f5;
    color: #666;
    padding: 100px 0;
}
.carrito-vacio i{
    display: block;
    font-size: 50px;
}
.contenedor-carrito{
    display: grid;
    grid-template-columns: calc(100% - 392px) auto;
    gap: 32px;
    margin: 44px auto;
}

.contenedor-carrito .carrito-producto{
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.12);
    overflow: hidden;
}
.carrito-producto-proveedor{
    border-bottom: 1px solid #ccc;
    padding: 20px;
    font-weight: bold;
    background-color: #f5f5f5;
}
.carrito-item{
    border-bottom: 1px solid #ccc;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 6fr 2fr 2fr;
}
.carrito-item .container-producto-img{
    margin-right: 40px;
}
.carrito-item img{
    width: 40px;
}

.carrito-producto-opciones{
    margin-top: 10px;
}
.carrito-producto-eliminar{
    border: none;
    background: transparent;
    color: var(--clr-blue);
    font-weight: bold;
    cursor: pointer;
}
 .selector{
    border: 1px solid #ccc;
    border-radius: 4px;
    width: fit-content;
}
 .selector button{
    border: none;
    background-color: transparent;
    padding: 7px 10px;
    color: #666;
    cursor: pointer;
}
.selector .cantidad{
    padding: 0 3px;
}
.carrito-producto-precio{
   text-align: right;
   font-size: 20px;
   
}
.carrito-producto-precio-envio{
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
}
.precio-envio{
    color: var(--clr-green);
    font-weight: bold;
}
.carrito-producto-mas-info{
    padding: 20px;
    background-color: #f5f5f5;
}

.carrito-resumen-compra{
    background-color: #fff;
    height:fit-content;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.12);
    position: sticky;
    top: 20px;
}
 .carrito-resumen-compra-titulo{
    border-bottom: 1px solid #ccc;
    padding: 20px;
    font-weight: bold;
}
.item-resumen{
    padding: 10px 20px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}
.carrito-resumen-total-final{
    font-weight: bold;
    font-size: 18px;
}
.carrito-acciones-comprar{
    display: block;
    background-color: var(--clr-blue);
    width:100%;
    padding: 12px 0;
    color: #fff;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    cursor: pointer;
}

.disabled{
    display: none;
}